In [1]:
!wget https://raw.githubusercontent.com/JerryWei03/COVID-Q/master/final_master_dataset.csv

--2020-09-19 17:34:53--  https://raw.githubusercontent.com/JerryWei03/COVID-Q/master/final_master_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 537707 (525K) [text/plain]
Saving to: ‘final_master_dataset.csv’

final_master_datase 100%[===================>] 525.10K  --.-KB/s    in 0.03s

2020-09-19 17:34:53 (15.7 MB/s) - ‘final_master_dataset.csv’ saved [537707/537707]

In [2]:
!ls

final_master_dataset.csv  sample_data

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('final_master_dataset.csv')
df.head()

                          Category  ...                                            Answers
0  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
1  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
2  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
3  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
4  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...

[5 rows x 5 columns]

In [7]:
df.drop(['Source'],axis=1)

                             Category  ...                                            Answers
0     Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
1     Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
2     Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
3     Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
4     Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
...                               ...  ...                                                ...
1606                              NaN  ...                                                NaN
1607                              NaN  ...                                                NaN
1608                              NaN  ...                                                NaN
1609                              NaN  ...                                                NaN
1610                              NaN  ...                                                NaN

[1611 rows x 4 columns]

In [8]:
df.tail()

     Category  Question ID  ... Source Answers
1606      NaN          682  ...  Quora     NaN
1607      NaN          683  ...  Quora     NaN
1608      NaN          684  ...  Quora     NaN
1609      NaN          692  ...  Quora     NaN
1610      NaN          697  ...  Quora     NaN

[5 rows x 5 columns]

In [10]:
df.isna().sum()

Category       366
Question ID      0
Question         1
Source           0
Answers        763
dtype: int64

In [11]:
df = df[df['Question ID'].notna()]

In [13]:
df.shape

(1611, 5)

In [14]:
df = df[df['Answers'].notna()]

In [15]:
df.shape

(848, 5)

In [16]:
df.head()

                          Category  ...                                            Answers
0  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
1  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
2  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
3  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
4  Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...

[5 rows x 5 columns]

In [22]:
new_df = df.drop_duplicates(keep="first", inplace=False, subset=['Answers'])

In [23]:
new_df.shape

(243, 5)

In [24]:
new_df.head()

                                   Category  ...                                            Answers
0           Speculation - Pandemic Duration  ...  may 1st, i think, is completely unrealistic, s...
28     Transmission - Demographics: General  ...  older adults and people of any age who have se...
54   Transmission - Survivability: Surfaces  ...  although the new covid weakens and dies over t...
78           Nomenclature - Reason for Name  ...  corona means crown, and covides have a crown o...
119       Societal Response - United States  ...  experts say its due to cuts in federal funding...

[5 rows x 5 columns]

In [25]:
new_df.isna().sum()

Category       152
Question ID      0
Question         0
Source           0
Answers          0
dtype: int64

In [37]:
df_new=new_df.drop(['Category','Source','Question ID'], axis=1)

In [38]:
df_new.isna().sum()

Question    0
Answers     0
dtype: int64

In [39]:
df_new.head()

                       Question                                            Answers
0           will covid end soon  may 1st, i think, is completely unrealistic, s...
28        who is at higher risk  older adults and people of any age who have se...
54   does covid live on clothes  although the new covid weakens and dies over t...
78             what covid means  corona means crown, and covides have a crown o...
119    why covid is worse in us  experts say its due to cuts in federal funding...

In [42]:
cols = df_new.columns.tolist()
cols

['Question', 'Answers']

In [43]:
cols = cols[-1:] + cols[:-1]
cols

['Answers', 'Question']

In [44]:
df_new = df_new[cols]

In [45]:
df_new.head()

                                               Answers                    Question
0    may 1st, i think, is completely unrealistic, s...         will covid end soon
28   older adults and people of any age who have se...       who is at higher risk
54   although the new covid weakens and dies over t...  does covid live on clothes
78   corona means crown, and covides have a crown o...            what covid means
119  experts say its due to cuts in federal funding...    why covid is worse in us

In [69]:
df_new.to_csv('covid_jin.csv', sep='|', encoding='utf-8',index=False)

In [70]:
!pwd

/content

In [71]:
!ls /content

covid.csv	covid_jin.csv	     final_master_dataset.csv
covid_jina.csv	covid_jin_final.csv  sample_data

In [72]:
data_dir = "/content"

In [73]:
import os

In [74]:
data_fn = os.path.join(data_dir, 'covid_jin.csv')
data_fn

'/content/covid_jin.csv'

In [79]:
import csv
import csv
import os
import re
import sys

In [95]:
_min_sent_len = 3
_max_sent_len = 64
#punct_chars = ['!', '.', '?', '։', '؟', '۔', '܀', '܁', '܂', '‼', '‽', '⁇', '⁈', '⁉', '⸮', '﹖', '﹗',
#                   '！', '．', '？', '｡', '。']
punct_chars = [',']
_slit_pat = re.compile('([{0}])+([^{0}])'.format(''.join(punct_chars)))
_replace_pat = re.compile('{}'.format(punct_chars))

In [98]:
doc_list = []
file_object = open('sample.csv', 'a+')
with open(data_fn, 'r') as f:
        f_h = csv.reader(f,delimiter='|')
        #print(f_h)
        for _idx, l in enumerate(f_h):
            if _idx == 0:
                continue
            name, line = l
            name = _replace_pat.sub(r'', name)
            #print("Name=",name)
            #print("Line=",line)
            file_object.write('{}[SEP]{}'.format(name, l))
            file_object.write("\n")
            #doc_list.append('{}[SEP]{}'.format(name, l))

In [91]:
doc_list[0]

"may 1st, i think, is completely unrealistic, said dr. ashish jha, director of the harvard global health institute. , probably for several months. but you might have to do it over and over again, since the outbreak could come in waves. [SEP]['may 1st, i think, is completely unrealistic, said dr. ashish jha, director of the harvard global health institute. , probably for several months. but you might have to do it over and over again, since the outbreak could come in waves. ', 'will covid end soon']"

In [92]:
doc_list = list(frozenset(doc_list))
doc_list[0]

"may 1st, i think, is completely unrealistic, said dr. ashish jha, director of the harvard global health institute. , probably for several months. but you might have to do it over and over again, since the outbreak could come in waves. [SEP]['some people with covid have mild or no symptoms. and in some cases, symptoms dont appear until up to 14 days after infection. ', 'why waste a test kit on a person without symptoms']"

In [ ]:
with open(data_fn, 'r') as f:
        f_h = csv.reader(f,delimiter='\t')
        print(f_h)
        for _idx, l in enumerate(f_h):
            if _idx == 0:
                continue
            print(l)
            name, line = l
            line = line.strip('"')
            sents_str = _slit_pat.sub(r'\1\n\2', '{}\n'.format(line))
            sents_str = sents_str.rstrip('\n')
            sents = [s.strip() for s in sents_str.split('\n') if _min_sent_len <= len(s.strip()) <= _max_sent_len]
            character_set.add(name)
            name = _replace_pat.sub(r'', name)
            for s in sents:
                doc_list.append('{}[SEP]{}'.format(name, s))